
.CVnavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.CVnavbar li{
    list-style-type: none;
}
.CVnavbar a , .edit{
    background-color: #f3f3f3;
    color: #6530d8;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    box-shadow: 5px 5px 5px 0 lightgray;;
}
.CVnavbar a {
    display: block;
    width: 170px;
    padding: 15px 20px;

}


.CVnavbar a:hover {
    background-color: #6530d8;
    color: #f3f3f3;
}
