/* ./////// divovi na template */
.DigitalMarketintipsHeader {
    width: 55%;
    height: 9%;
    position: absolute;
    top: 12%;
    left: 20%;
}
.DataSciencetipsPhoto {
    width: 10%;
    height: 9%;
    position: absolute;
    top: 12%;
    left: 8%;
}
.DataSciencetipsInfos {
    width: 75%;
    height: 3%;
    position: absolute;
    top: 22%;
    right: 20%;
}
.DigitalMarketingtipsWorkExpirience {
    width: 38%;
    height: 40%;
    position: absolute;
    top: 26%;
}
.DigitalMarketingtipsEducation {
    width: 34%;
    height: 16%;
    position: absolute;
    bottom: 15%;
    left: 5%;
}
.DigitalMarketingtipsSKils {
    width: 33%;
    height: 10%;
    position: absolute;
    top: 26%;
    right: 23%;
}
.DigitalMarketingtipsAchievmens {
    width: 32%;
    height: 10%;
    position: absolute;
    top: 38%;
    right: 24%;
}
.DigitalMarketingtipsLanguages {
    width: 23%;
    height: 6%;
    position: absolute;
    top: 49%;
    right: 33%;
}
/* //////////////////////// */
.DigitalMarketing{
    width: 75%;
    margin-left: 40px;
    padding-top: 20px;
}
.DigitalMarketing .dataScienceTitle .shortEngage input[placeholder="Short and engaging pitch about yourself."] {
    width: 100%!important;
 
}
.DigitalMarketing input::placeholder,.DigitalMarketing textarea::placeholder{
    color: #468f98;
}
.DigitalMarketing .contacts-dm {
    background-color: #468f98;
    border: none;
}
.DigitalMarketing .contacts-dm .email-dm{
    flex-basis: 50%;
}
.DigitalMarketing .contacts-dm .email-dm p,.DigitalMarketing .contacts-dm .email-dm i,.DigitalMarketing .contacts-dm .phone-dm p,.DigitalMarketing .contacts-dm .phone-dm i{
    color: #f9ffff;
}
.DigitalMarketing h2{
    color: #468f98;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.DigitalMarketing .languages .btnAdd {
    color: #f9ffff;
    background-color: #468f98;
    border: none
}
.skils .p-dm {
    background-color: #468f98;
}
.DigitalMarketing .left-main-block-dm, .DigitalMarketing .right-main-block-dm{
    flex-basis: 50%;
    text-align: left;
}
.DigitalMarketing textarea {
    border: 1 px solid #468f98;
}
.left-main-block-dm{margin-right: 30px;}
.right-main-block-dm{margin-left: 30px;}
.mainContainer-dm {
    display: flex;
    width: 90%;
    margin: 0 auto 100px auto;
    
}
.languages-dm .dm-final .dm-languages-title{
    color: #468f98;
}
