 /* ..//////////// templatesliki divovi pozadina */
.DigitalMarketingtipsHeader {
    width: 52%;
    height: 7%;
    position: absolute;
    top: 11%;
    left: 20%;
}
.DataSciencetipsPhoto {
    width: 10%!important;
    height: 8%!important;
    position: absolute;
    top: 11%!important;
    left: 8%!important;
}
.DataSciencetipsInfos {
    width: 75%!important;
    height: 3%!important;
    position: absolute;
    top: 20%!important;
    right: 20%!important;
}
.DataSciencetipsWorkExpirience {
    width: 37%;
    height: 33%;
    position: absolute;
    top: 24%;
}
.DataSciencetipsSkils {
    width: 33%;
    height: 14%;
    position: absolute;
    top: 24%;
    right: 23%;
}
.DataSciencetipsProjectsAndPublication {
    width: 33%;
    height: 5%;
    position: absolute;
    top: 39.5%;
    right: 23%;
}
.DataSciencetipsLanguages {
    width: 32%;
    height: 5%;
    position: absolute;
    top: 46%;
    right: 24%;
}
.DataSciencetipsInformalEducation {
    width: 23%;
    height: 7%;
    position: absolute;
    right: 33%;
    top: 52%;
}
.DataSciencetipsEdication {
    width: 34%;
    height: 13%;
    position: absolute;
    bottom: 29%;
    left: 7%;
}
/* ///////////////////////////////////////////// */


.DataScience {
    width: 75%;
    margin-left: 40px;
    padding-top: 20px;
    margin-bottom: 90px;
}
.DataScience h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3a444e;
}
.DataScience h2:hover{
    color: gray;
    cursor: pointer;
}
.DataScience .main-container{
    width: 90%;
    margin: 0 auto;
}
.DataScience .main-container .left-main-block {
    flex-basis: 50%;
    margin-right: 30px;
    margin-left: 0;
}
.DataScience .main-container .left-main-block .left-box1{
    margin-left: 0;
    margin-right: 20px;
}
.DataScience .main-container .DataScience-rightBlock {
    flex-basis: 50%;
    margin-left: 30px;
}

.DataScieneHeader {
    display: flex;
    margin: 50px auto 0 auto;
    width: 90%;
    font-size: 11px;
    
}
.data-science-image {
    flex-basis: 20%;
    padding-bottom: 20px;
}
.data-science-image div {
    width: 110px!important;
    height: 110px!important;
    border: none!important;
    margin-left: 0!important;
    margin-top: 0!important;
}
.dataScienceTitle {
    position: relative;
    flex-basis: 66%;
    margin-left: 20px;
    margin-top: 15px;
}
.dataScienceTitle input[id="shortEngage"] {
    width: 100%;
}


.DataScieneHeader div  div{
    text-align: left;
    border: none;
}
.DataScieneHeader h1 {
    font-size: 30px;
    color: #3a444e;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.DataScieneHeader div h4 {
    color: #818181;
    font-size: 15px;
}
.DataScieneHeader input::placeholder, .DataScieneHeader textarea::placeholder{
    color: #354457;
}
.Contacts {
    display: flex;
    border-bottom: 2px solid #354457;
    border-top: 2px solid #354457;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}
.Contacts .popup{
    display: none;
}
.Contacts input::placeholder{
    color: #354457;
}
.Contacts:hover .popup{
    display: block;
}
.Contacts p {
    font-size: 11px;
}
.Contacts label {
    display: inline;
}
.email{
    flex-basis: 51%;
    text-align: right;
}
.email i { color: #354457;}
.email p, .phone p{
    display: inline;
    margin-left:15px;
    color: #354457;

}
.phone{ 
    flex-basis: 39%;
    text-align: left;

    margin-left:25px
}
.Contacts input {
    margin-left: 10px;
    font-size: 11px;
}
.dataScienceTitle input{
    top: -3px!important;
}
.dataScienceTitle textarea {
    width: 100%;
    outline: none;
    border: 1px solid #354457;
}
.education{
    margin-top: 50px;
}


